*.log
*.substvars
*.debhelper
autoreconf.after
autoreconf.before
files
tmp/
man/
cgi-mapserver/
libmapscript-perl/
libmapscript-ruby/
libmapscript-ruby1.8/
libmapscript-ruby1.9.1/
libmapserver-6.2.1-dev/
libmapserver-6.2.1/
libmapserver-dev/
libmapserver/
mapserver-bin/
mapserver-doc/
php5-mapscript/
python-mapscript/
